.App-titlebar {
    text-align: left;
    background-color: black;
}

.App-header {
  margin: 1px;
  min-width: 100%;
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: inline-flex;
}

.main-nav a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 600;
    padding: 10px;
    display: flex;
}

.main-nav a:hover {
    text-decoration: underline;
    color: #00a9d9;
}

.main-nav ul {
    list-style: none;
    display: inline-flex;
    padding: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content1 {
    color: black;
    min-height: 40vh;
    padding: 10px;
    background-color: #222;
    margin: 1px;
}
.main-content2 {
    color: black;
    min-height: 40vh;
    padding: 10px;
    background-color: #314360;
    margin: 1px;
}
.main-content3 {
    will-change: opacity;
    color: black;
    min-height: 40vh;
    padding: 10px;
    background-color: white;
    margin: 1px;
}

.main-footer {
    color: black;
    padding: 10px;
    background-color: black;
}
